th {
	cursor: pointer
}

th:hover {
	box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

[rel='tooltip'],
.tooltip :hover {
	cursor: help;
}

.slider {
	-webkit-appearance: none;
	width: 250px;
	height: 15px;
	border-radius: 5px;
	background: #e3f2ff;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #007bff;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #007bff;
	cursor: pointer;
}